{% extends "base.html" %}

{% block title %}个人信息 - 竞赛社团平台{% endblock %}

{% block content %}
<div class="card">
    <h1>个人信息</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{ field.help_text }}
            {{ field.errors }}
        {% endfor %}
        <button type="submit">保存信息</button>
    </form>
</div>
{% endblock %}
