{% load files %}{% if widget.is_initial %}
    <div class="file-current">
        <span class="file-current-label">{{ widget.initial_text }}</span>
        <a class="file-current-name" href="{{ widget.value.url }}">{{ widget.value.name|basename }}</a>
        {% if not widget.required %}
            <label class="file-clear" for="{{ widget.checkbox_id }}">
                <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}{% if widget.attrs.checked %} checked{% endif %}>
                {{ widget.clear_checkbox_label }}
            </label>
        {% endif %}
    </div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
